/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Package imports */
@import 'tailwindcss';

/* Font Setting */
.font-oxygen {
  font-family: "Oxygen", sans-serif;
}
.font-libreBas {
  font-family: "Libre Baskerville", serif;
}
.font-jost {
  font-family: "Jost", sans-serif;
}


/* Theme related setting */
@custom-variant dark (&:where(.dark, .dark *));

/* Shadcn CSS variables */
@theme {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
 
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
 
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
 
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
 
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
 
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
 
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
 
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
 
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;
 
  --ring: 215 20.2% 65.1%;
 
  --radius: 0.5rem;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;
 
  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;
 
  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;
 
  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;
 
  --border: 216 34% 17%;
  --input: 216 34% 17%;
 
  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;
 
  --primary: 356, 88%, 56%;
  --primary-foreground: 222.2 47.4% 1.2%;
 
  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;
 
  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;
 
  --ring: 216 34% 17%;
 
  --radius: 0.5rem;
}

/* Website reusable colors */
@theme {
  --primary: #f22d3a;
  --secondary: #ffe6e7;
  --dark-secondary: #34343e;
  --accent: #5e5d72;
  --accent-white: #f3f4f6;
  --dark: #000000;
  --white: #fff;
  --base-100:#C4C4C8;
  --dark-bg: #3a3944;
  --dark2-bg: #292831;
}

.dark{
  --primary: #f22d3a;
}

/* Sub loader styles */
@layer utilities {
  .loader-text {
    @apply font-bold uppercase text-transparent relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px black;
    background:
      radial-gradient(1.13em at 50% 1.6em, #000 99%, transparent 101%) calc(50% - 1.6em) 0/3.2em 100% text,
      radial-gradient(1.13em at 50% -0.8em, transparent 99%, #000 101%) 50% 0.8em/3.2em 100% repeat-x text;
    animation: loader-wave 2s linear infinite;
  }

  .dark .loader-text {
    -webkit-text-stroke: 1px white;
    background:
      radial-gradient(1.13em at 50% 1.6em, #fff 99%, transparent 101%) calc(50% - 1.6em) 0/3.2em 100% text,
      radial-gradient(1.13em at 50% -0.8em, transparent 99%, #fff 101%) 50% 0.8em/3.2em 100% repeat-x text;
  }
}

@keyframes loader-wave {
  to {
    background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) 0.8em;
  }
}
/* Base sidebar */
.sidebar {
  scrollbar-width: auto; /* Firefox: hide scrollbar completely */
  overflow-y: scroll;
}

/* Custom scrollbar for Chrome, Edge, Safari */
.sidebar::-webkit-scrollbar {
  width: 3px; /* Super thin scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #f57f8e;
  border-radius: 10px;
}

/* Dark mode */
.dark .sidebar::-webkit-scrollbar-thumb {
  background-color: #f22d3a;
}
